<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257">
    <title>Cadastro Salvo</title>
    <link rel="shortcut icon" href="./images/favicon.png" type= "image/png">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/partials/page-success.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
        <script src="/scripts/wait.js" defer></script>
</head>

<body id="page-success" >

    <div id="container">
        <div id="message-container">
            <img src="./images/icons/success-check-icon.svg" alt="Checked">
            <h1 id="saved">Cadastro salvo!</h1>
            <h2 id="message">Seu cadastro foi salvo em nosso banco de dados. Aguarde para ser redirecionado para a página de Proffys.</h2>
            <p class="total-connections">
                Total de 200 conexões já realizadas
                <img src="./images/icons/purple-heart.svg" alt="Coração roxo">
            </p>
        </div>


    </div>

</body>

</html>